/*--- GENERAL STYLES ---*/

body {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #1a1a1a;
}

.content-section {
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 20px;
}

.content-section h1 {
    color: #666666;
    font-weight: 400;
    font-size: 30px;
    display: inline-block;
}

.content-section h1:after {
    content: '';
    display: block;
    border-bottom: 1px solid #DFDFDF;
    padding-top: 3px;
}

.content-section p.lead {
    font-family: 'Advent Pro', serif;
    font-size: 19px;
    text-emphasis: italic;
    line-height: 1.35em;
    margin-bottom: 25px;
}

.content-section p.lead em {
    font-size: 14px;
}

.content-section p em {
    font-size: 14px;
}

.content-section p mark em {
    font-size: inherit;
}

.content-section img.pull-right {
    border: 1px solid #DFDFDF;
    margin-top: 140px;
}

@media screen and (min-width: 768px) {
    .content-section {
        padding-top: 130px;
    }
    .content-section h1 {
        font-size: 34px;
    }
    .content-section p.lead {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 992px) {
    .content-section {
        padding-top: 160px;
    }
    .content-section h1 {
        font-size: 38px;
    }
    .content-section h1:after {
        padding-top: 5px;
    }
    .content-section p.lead {
        font-size: 21px;
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 1200px) {
    .content-section {
        padding-top: 160px;
    }
    .content-section h1:after {
        padding-top: 7px;
    }
    .content-section p.lead {
        font-size: 22px;
        margin-bottom: 35px;
        color: #CC0000;
        text-shadow: rgba(255, 255, 255, 0.3);
    }
}

blockquote {
    background-color: #E6E6E6;
    font-style: italic;
}


/*--- NAVBAR ---*/

.navbar-default {
    font-family: 'Advent Pro', sans-serif;
    font-size: 30px;
    background: #FFFFFF;
    border-bottom-color: #DFDFDF;
    height: 60px;
    margin-bottom: 0;
    color: #666666;
}

.navbar-header .navbar-toggle {
    margin-top: 12px;
}

.navbar-header .navbar-brand {
    letter-spacing: -0.03em;
    height: 70px;
    padding: 30px 10px 0 10px;
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
    line-height: 0px;
    font-weight: 700;
    color: #111;
    white-space: nowrap;
}

.navbar-default .navbar-brand:focus {
    color: #111;
}

.navbar-default .navbar-nav {
    background: #FFF;
    margin-top: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #222;
    padding: 10px;
    border-bottom: 1px solid #DFDFDF;
}

.navbar-default .navbar-nav>li>a.selected {
    color: #CC0000;
}

.navbar-default a.navbar-brand:hover .navbar-default .navbar-nav>li>a:hover {
    background-color: #DFDFDF;
}

.navbar-default .navbar-brand:hover {
    color: #990000;
}

@media screen and (min-width: 768px) {
    .navbar-default {
        height: 100px;
    }
    .navbar-header {
        width: 100%;
    }
    .navbar-header .navbar-brand {
        height: 70px;
        padding: 40px 0 0 15px;
        font-size: 44px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 0px 20px 9px 0;
    }
    .navbar-default .navbar-nav>li>a:hover {
        background-color: transparent;
        color: #CC0000;
    }
}

@media screen and (min-width: 992px) {
    .navbar-default {
        height: 120px;
    }
    .navbar-header .navbar-brand {
        height: 80px;
        padding: 45px 0 0 15px;
        font-size: 58px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 10px 25px 9px 0;
    }
}


/*--- HOME ---*/

#home {
    no-repeat center center fixed;
    background-size: cover;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.top-video {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

#home h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 72px;
    color: #CC0000;
    display: inline-block;
    margin: 0;
    line-height: 90px;
    margin-top: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
}

#home h1:after {
    border-bottom: 0px solid #FAFAFA;
}

#home h5 {
    font-size: 16px;
    color: #555;
}

@media screen and (min-width: 768px) {
    #home h1 {
        font-size: 100px;
        line-height: 114px;
    }
    #home h5 {
        font-size: 19px;
    }
}

@media screen and (min-width: 992px) {
    #home h1 {
        font-size: 90px;
        margin-top: 70px;
    }
    #home h5 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    #home h1 {
        font-size: 96px;
        line-height: 134px;
    }
    #home h5 {
        font-size: 28px;
    }
}

/*--- ABOUT IMAGE ---*/

.about-img {


}
/*--- PORTFOLIO ---*/

.content-section .thumbnail {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.content-section .thumbnail * {
    transition: all .50s;
}

.content-section .thumbnail h4 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.content-section .thumbnail p {
    line-height: 20px;
}

.content-section .thumbnail:hover h4, .content-section .thumbnail:hover p {
    color: #AFAFAF;
}

.content-section .thumbnail:hover img {
    opacity: 0.25;
}

.content-section .thumbnail:after {
    font-family: 'FontAwesome';
    content: '';
    color: #FFF;
    font-size: 48px;
    line-height: 80px;
    top: 70%;
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 100%;
    transition: all .35s;
    opacity: 0;
    width: 86px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 50%;
    background: transparent;
    border: 3px solid transparent;
}

.content-section .thumbnail:hover:after {
    top: 25%;
    opacity: 1;
    color: #FFFFFF;
    background: #990000;
    border: 3px solid #FFFFFF;
}


/*--- CONTACT ---*/

#contact {
    background: url('/Users/lisabronwyn/Desktop/learners-guild/cool-lorikeet-portfoliosite/img/img2.jpg') no-repeat top center fixed;
    background-size: cover;
}

.social-cont {
    max-width: 400px;
}

a.btn-default {
    height: 44px;
    border-radius: 0;
    border: 0;
    width: 180px;
    text-align: left;
    margin: 0 5px 10px 0;
    position: relative;
    background-color: #FFFFFF;
    padding: 10px;
    transition: all .35s;
    padding: 0;
    line-height: 47px;
    overflow: hidden;
}

a.btn-default i {
    display: block;
    float: left;
    left: 12px;
    top: 10px;
    font-size: 24px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

a.btn-default span {
    position: relative;
    z-index: 1;
    padding-left: 30px;
}

a.btn-default:after {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all .35s;
}

a.twitter-btn:after {
    background-color: #55ACEE;
}

a.github-btn:after {
    background-color: #171515;
}

a.linkedin-btn:after {
    background-color: #0077B5;
}

a.medium-btn:after {
    background-color: #1C9963;
}

a.btn-default:hover, a.btn-default:focus {
    background-color: #FFFFFF;
    color: #FFFFFF;
}

a.btn-default:hover:after {
    width: 100%;
}
